.message{
    width: 50%;
    height:5rem;
    margin: auto;
    padding-top: 6rem;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 10px #ff4da6, 0 0 10px #ff4da6, 0 0 10px #ff4da6, 0 0 10px #ff4da6, 0 0 10px #ff4da6, 0 0 10px #ff4da6;
}

.signup{
    padding-top: 8rem;
    font-size: 2.5rem;
    width :50rem;
    height:40rem;
    margin :auto;
    border: 2px solid rgb(39, 33, 33);
    background-image: url(https://thumbs.dreamstime.com/b/old-paper-18898777.jpg);
    background-size:100% 100%;
    box-shadow: 0.5rem 0 1rem #c91818, 0 0 10px #ff4da6, 0 0 10px #ff4da6; ;
   
}
.signin{
    padding-top: 3rem;
    width :50%;
    height: 20rem;
    margin :auto;
    border: 2px solid rgb(201, 186, 51);
   
    background-image:linear-gradient(to right bottom,rgba(226, 33, 8, 0.603),rgba(236, 145, 27, 0.432)),url(https://1.bp.blogspot.com/-hc_OMrNmQU0/WIilmePSuvI/AAAAAAAABD8/H5PckgqkYoMWgAC8ZLvUblQ-tJFwKqnoQCEw/s1600/54.png);
    background-size:100% 100%;
    box-shadow: 0.2rem 0.2rem 1rem rgb(12, 9, 9) , 10px -10px 5px rgb(12, 9, 9);
}
.text{
    
    float:left;
    width: 36rem;
    height:6rem;
    margin: auto auto 1% 20rem;
    text-align: left;
    padding-top: 0;
    font-family: Georgia;
    margin-left: 10rem;
}
.inputbox{
    
    width: 80%;
    height: 3rem;
    float: right;
    
}
.textsignin{
   
    float:left;
    margin:  auto 0 0.2rem 5rem;
    text-align: left;
    padding-top: 0.5rem;
    font-size: 2rem;
    font-family: Georgia;
    

}
.inputboxsignin{
    width: 60%;
    margin-top: 4%;
    float: left;
    
}
.btnsignin{
   margin: 10rem auto auto auto;
}
.btnsignup{
    margin: 1rem 2rem 0 0;
    height: 10%;
}
